<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.dao.UserDao">
<!-- 
namespace:名称空间;指定为接口的全类名,是当前这个文件的大标题，相当于springMVC的@RequestMapping放在了类上面
id：唯一标识
resultType：返回值类型
#{id}：从传递过来的参数中取出id值

public Employee getEmpById(Integer id);
 -->
	<select id="getUserById" resultType="com.atguigu.bean.User" >
		select id,name,password,address,phone from user where id = #{id}
	</select>
</mapper>